.create-container {
    background-color: #111;
    color: #e0e0e0;
    padding: 2rem;
    min-height: 100vh;
    font-family: 'Pretendard'

  }
  
  .create-title {
    color: #87cefa;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #87cefa;
    padding-bottom: 0.5rem;
  }
  
  .create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
  }
  
  .create-input,
  .create-textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1rem;
  }
  
  .create-textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .create-button {
    background-color: #87cefa;
    color: #000;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .create-button:hover {
    background-color: #5fb8e0;
    color: white;
  }