.home-container {
    padding: 2rem;
    background-color: #111;
    min-height: 100vh;
    font-family: 'Pretendard'

  }
  
  .home-title {
    color: #87cefa;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    border-bottom: 2px solid #87cefa;
    padding-bottom: 0.5rem;
  }
  
  .post-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .post-item {
    background-color: #1c1c1c;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .post-item:hover {
    background-color: #222;
    transform: translateY(-2px);
  }
  
  .post-link {
    color: #87cefa;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  
  .post-link:hover {
    color: white;
  }
  
  .post-title {
    font-size: 1.2rem;
  }
  
  .post-author {
    font-size: 0.9rem;
    color: #aaa;
  }