.header {
    background-color: #000;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    font-family: 'Pretendard'
  }
  
  .nav-link {
    color: #87cefa; 
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .nav-link:hover {
    color: white;
  }